@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<h2>About</h2>
<p>The volume and diversity of senior projects are expanding each year. So students and supervisors face difficulty to refer to previous senior projects and extract some useful information. Moreover, students face difficulty in figuring out whether the proposed ideas match potential supervisors and their research interests. This process takes a long time from both students and supervisors to go back to the previous senior project files to find useful information on topics, tools and area of interests. Also, decision makers don't have valuable statistics and knowledge of areas of interest of senior projects to know which most and least areas and what is reasons behind these statistics. This report presents SaVeIT is a web-based application for electronic archiving IT senior projects at King Abdulaziz University. It uses the power of text mining tools to generate statistics and interesting patterns from senior projects.</p>
<div style="padding-top:20px;">
    <strong>Developers:</strong>
    <p><strong>Rawan Alaufi</strong>       rawa0077@gmail.com</p>
    <p>
        <strong>  Khadija Alamoudi</strong>   kalamoudi0027@stu.kau.edu.sa
    </p>
    <p><strong>Roba Alghamdi</strong>      robiah1995@gmail.com</p>
    <p><strong>Shaima Bajubair</strong>      sbajubair0001@stu.kau.edu.sa</p>
    <p><strong>Maram Almarie</strong>      malmari0001@stu.kau.edu.sa</p>
</div>